/*body {
  background-color: rgba(#bad7e7, 0.9);
}*/
h1,
.current-temp,
.high-low {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  padding-top: 30px;
  padding-left: 5px;
  font-size: 65px;
  font-weight: 300;
  color: #5a6275;
}
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #5a6275;
  font-size: 18px;
  padding-left: 8px;
}
img {
  opacity: 0.3;
  max-height: 800px;
}
/*ul li {
  list-style-type: none;
  text-align: right;
  position: relative;
  top: -55px;
}*/
.container {
  max-width: 550px;
  max-height: 800px;
}
.card-img {
  border-radius: 30px;
}
.card {
  margin: 10px auto;
  max-width: 550px;
  display: block;
  border: 2px solid white;
  border-radius: 30px;
}
.search-bar {
  border-radius: 30px;
  padding: 2px 40px 2px 10px;
  border: solid 2px #bad7e7;
  color: #5a6275;
  font-weight: 100;
}
.search {
  border-radius: 30px;
  padding: 2px 10px;
  background-color: rgb(249, 194, 60);
  border: solid 2px #ff822d;
  color: #ff822d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  transition: 200ms ease-in-out;
  font-size: 15px;
}
.search:hover {
  background-color: rgb(254, 222, 142);
  transition: 200ms ease-in-out;
  border: solid 2px rgb(249, 194, 60);
}
.main-emoji {
  font-size: 70px;
  opacity: 0.5;
  position: relative;
  left: 60px;
}
.current-temp {
  position: relative;
  top: 15px;
  text-align: right;
  font-size: 55px;
  font-weight: 300;
  color: #5a6275;
}
#fahrenheit,
#celsius {
  font-size: 20px;
  color: #5a6275;
  text-decoration: none;
}
#date {
  padding-left: 10px;
}
#date,
#description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
#description {
  text-align: right;
  color: #5a6275;
  position: relative;
  top: -5px;
  left: -10px;
}
.today-high-low {
  text-align: center;
  font-size: 30px;
  color: #5a6275;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.row {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.day {
  margin: 10px;
  text-align: left;
  color: #5a6275;
}
.day,
.temp {
  font-size: 25px;
}
.temp {
  position: relative;
  top: -20px;
  text-align: right;
  color: #5a6275;
  font-weight: 300;
}
.emoji {
  font-size: 50px;
  position: relative;
  top: 10px;
}
#tag {
  text-align: center;
  position: relative;
  bottom: 5px;
  padding-top: 5px;
  font-weight: 100;
}
#github-link {
  text-decoration: none;
  font-weight: 700;
  color: #5a6275;
  transition: 200ms ease-in-out;
}
#github-link:hover {
  text-decoration: underline;
  color: aliceblue;
}
